body {
  background-color: rgb(191, 241, 241);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.load-more {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  padding: 15px 10px;
  border-color: blue;
  border-radius: 10px;
}

.load-more:hover,
.load-more:focus {
  border-color: #ffffff;
}

.search {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.search:hover,
.search:focus,
.load-more:hover,
.load-more:focus {
  background-color: bisque;
  color: #ffffff;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
}

.gallery {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo-card__item {
  margin: 10px auto;
}

.photo-card:hover {
  transform: scale(1.03);
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}

b {
  color: rgb(189, 97, 97);
  padding-top: 8px;
}
